In [1]:
## Declaring and Assigning Variables

age=23
height = 6.0
name = "Abhi"
is_Student = True

## Printing the Variables

print("Age: ",age)
print("Height: ",height)
print("Name: ",name)

Age:  23
Height:  6.0
Name:  Abhi

In [ ]:
## Naming Conventions
# Variable name should be descriptive
# They must start with a letter or an '_' and contain letter, numbers and underscores
# Variable names are case sensitive

# Valid Variable names

first_name = "Abhi"
last_name = "Chavan"

In [ ]:
# Invalid Variable names

# 2age = 30
# first-name = "Abhi"
# @name = "Abhi"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1280741852.py, line 5)

In [6]:
## Case Sensitivity

name = "Abhi"
Name = "Chavan"

print(name)
print(Name)

Abhi
Chavan

In [7]:
## Understanding Variables Types
# Python is dynamically typed, type of a variable is determined at runtime
age = 23 #int
height = 6.0 #float
name = "Abhi" #string
is_student = True #boolean

print(type(age))
print(type(height))
print(type(name))
print(type(is_student))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [8]:
## Type checking and conversion

type(height)

float

In [9]:
age = 23
print(type(age))

# type conversion
age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
23
<class 'str'>

In [12]:
age = '23'
int(age)
print(type(int(age)))

<class 'int'>

In [ ]:
# String to int is not possible
name = "Abhi"
int(name)

ValueError: invalid literal for int() with base 10: 'Abhi'

In [ ]:
height = 5.11
int(height)

# Typecast int - float
float(int(height))

5.0

In [16]:
## Dynamic Typing
# Python allows the type of a variable to change as the program executes

var = 10
print(var, type(var))

var = "Abhi"
print(var, type(var))

var = 3.14
print(var, type(var))

10 <class 'int'>
Abhi <class 'str'>
3.14 <class 'float'>

In [21]:
## Input

age = int(input("What is your age"))
print("Your age is",age, type(age))

Your age is 23 <class 'int'>

In [22]:
## Simple Calculator

num1 = float(input("Enter first number"))
num2 = float(input("Enter second number"))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 18.0
Difference: 6.0
Product: 72.0
Quotient: 2.0