In [1]:
## Integer Example

age = 23
type(age)

int

In [2]:
## Floating point Datatype

height = 5.11
print(height)
type(height)

5.11

float

In [3]:
## String Datatype

name = "Abhi"
print(name)
type(name)

Abhi

str

In [5]:
## Boolean Datatypes

is_Name = True
print(is_Name)
type(is_Name)

True

bool

In [6]:
a=10
b=10

a == b
print(type(a==b))

<class 'bool'>

In [7]:
## Common errors

result = "Hello" + 5

TypeError: can only concatenate str (not "int") to str

In [9]:
## Solve above error

result = "Hello" + str(5)
print(result)
type(result)

Hello5

str

In [ ]:
str = "Hello"

str

AttributeError: 'str' object has no attribute 'add'